.container
  %h3.white-text
    = @user.first_name
    = @user.last_name

    -# %h4
    -# = @user.email
    -# = link_to 'Back', root_path

    - @user_goals.each do |goal|
      %h5.white-text
        = goal.title
      %p.white-text
        = goal.description
