body {
  background-color:#b3e5fc;
  background-image: url(http://www.hercampus.com/sites/default/files/2015/08/10/bucketlist.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
